.navbar {
  margin: 5px;
  border: solid;
  border-color: darkgrey;
  background-image: linear-gradient(to right, white, rgb(241, 124, 143));
}

.logo {
  margin-top: 2px;
  margin-left: 2px;
  max-width: 175px;
  border-radius: 40px;
  border-style: solid;
  border-color: black;
}

.navbar-toggler{
  border-width: 3px;
  border-color: black;
  border-style: solid;
  border-radius: 20%;
}

.nav-item {
  border-bottom-style: solid;
  padding-left: 2px;
  padding-right: 2px;
  margin-left: 5px;
  margin-right: 5px;
}